[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ChessGmooG"]
	path = ChessGmooG
	url = https://github.com/cran/ChessGmooG
[submodule "ComradesM"]
	path = ComradesM
	url = https://github.com/cran/ComradesM
[submodule "FilmsGmooG"]
	path = FilmsGmooG
	url = https://github.com/cran/FilmsGmooG
[submodule "GDAdata"]
	path = GDAdata
	url = https://github.com/cran/GDAdata
[submodule "GmooG"]
	path = GmooG
	url = https://github.com/cran/GmooG
[submodule "OutliersO3"]
	path = OutliersO3
	url = https://github.com/cran/OutliersO3
[submodule "UpAndDownPlots"]
	path = UpAndDownPlots
	url = https://github.com/cran/UpAndDownPlots
